  <html>
  	<head>
  		<title>Ola Blog</title>
  	</head>
  	<body>
  		<div>
  			<h1>Bienvenidos</h1>
  		     <em>Este es mi Blog</em>
  		</div>
  		
  		
  		<br>
  		<div>
  			
  			<h2><a href="http://127.0.0.1:8000/admin/">Link a Admin</a></h2>
        
      	</div>
  	
  		<h1><strong>Ultimos Post</strong></h1>
  		<div>
  			<h1><a href="">Titulo del primer post</a></h1>
  			<h2>Publicado el ...</h2>
  			<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam vene</p>
  		</div>

  		<div>
  			<h1><a href="">Titulo del segundo post</a></h1>
  			<h2>Publicado el ...</h2>
  			<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam vene</p>
  		</div>

  		<div>
  			<h1><a href="">Titulo del tercer post</a></h1>
  			<h2>Publicado el ...</h2>
  			<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam vene</p>
  		</div>

     </body>
  </html>